[submodule "containers/frontend"]
	path = containers/frontend
	url = https://github.com/ProjectOAWA/frontend.git
[submodule "containers/authorization-server"]
	path = containers/authorization-server
	url = https://github.com/ProjectOAWA/authorization-server.git
[submodule "containers/nginx"]
	path = containers/nginx
	url = https://github.com/ProjectOAWA/nginx.git
